<h1 mat-dialog-title>Añadir Promoción</h1>
<div mat-dialog-content>
    <form [formGroup]="form">
        <mat-form-field appearance="outline">
            <mat-label>Título</mat-label>
            <input matInput formControlName="name" placeholder="Ingrese el título" />
            <mat-error *ngIf="form.get('name')?.invalid">Título es requerido.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Descripción</mat-label>
            <textarea matInput formControlName="description" placeholder="Escriba una descripción"></textarea>
            <mat-error *ngIf="form.get('description')?.invalid">Descripción es requerida.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>URL de Imagen</mat-label>
            <input matInput formControlName="imageUrl" placeholder="Pegue el enlace de la imagen" />
            <mat-error *ngIf="form.get('imageUrl')?.invalid">URL es requerida.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Fecha de expiración</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="validUntil" placeholder="Seleccione la fecha" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="form.get('validUntil')?.invalid">Fecha es requerida.</mat-error>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button color="warn" (click)="onCancel()">Cancelar</button>
    <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="onSave()">Guardar</button>
</div>